

.todolist{
  &-empty{
    text-align: center;
  }
  &-actual{
    position: relative;
  }
  &-marked{
    margin-top: 40px;
  }
}

.search-input{
  width: 90%;
  margin: 0 auto 20px auto;
}

.spinner-loader{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 1;
}